@layout('partials.layouts.error')

@section('title')
  Autenticação Necessária
@endsection

@section('content')
  <span class="sys-error-emoticon">(；一_一)</span>
  <h1 class="sys-error-title">
    Autenticação Necessária
  </h1>
  <p class="sys-error-desc">
    Invasores não são permitidos aqui. Fora! 😎
    <br />
    <small class="d-block mt-2">
      Para visualizar essa página, você precisa estar autenticado. <br />
      Tente novamente após efetuar o log-in.
    </small>
  </p>
  <div>
    <a href="{{ route('login') }}" class="btn btn-light mr-3 sys-error-button">
      <i class="fa fa-sign-in"></i> Login
    </a>
  </div>
@endsection
