@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }

  50% {
    background-position: 100% 19%;
  }

  100% {
    background-position: 0% 82%;
  }
}

.sys-group-bar[style*="#4080ff"] {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 9s ease infinite;
}

a[style*="#4080ff"],
strong[style*="#4080ff"],
span[style*="#4080ff"] {
  font-weight: bold;
  text-shadow: 2px 0px 11px #3e66A1;
}
