.sys-session-page {
  .sys-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/img/bp-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sys-container {
    max-width: 500px;
    margin: 10vh auto 5vh auto;

    @media screen and (max-width: 550px) {
      max-width: initial;
      width: 100%;
    }
  }

  .sys-box {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: .25rem;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, .3);
    position: relative;

    @media screen and (max-width: 550px) {
      border-radius: 0;
    }

    &.--primary {
      padding-top: 70px;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  .sys-header {
    background-color: $secondary;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .3rem;
    padding: 5px 5px 10px 5px;
    width: 80%;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);

    img {
      @media screen and (max-width: 550px) {
        max-width: 300px;
        max-height: 70px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .sys-main-title {
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .sys-linklist {
    text-align: center;
    color: #707477;
  }

  .sys-made-by {
    text-align: center;
    margin-top: 10px;
    color: #707477;

    a {
      color: #707477;
      border-bottom: solid 1px #707477;
      text-decoration: none;

      &:hover {
        color: $primary;
        border-bottom-color: $primary;
      }
    }
  }
}
