# Node modules
node_modules

# Bundles:
public/css
public/js

# Adonis directory for storing tmp files
tmp/sessions

# Environment variables, never commit this file
# .env

# The development sqlite file
database/development.sqlite
