.sys-footer {
  .sys-footer-linklist {
    background-color: $secondary;
    padding: 20px 0;
    box-shadow: 0px -4px rgba(0,0,0,0.2), inset 0px -35px 17px rgba(0, 0, 0, 0.11);

    a {
      background-color: $primary;
      background-image: linear-gradient(to bottom, lighten($primary, 3%), darken($primary, 9%)) !important;
      display: inline-block;
      padding: 4px 16px 5px 16px;
      border-radius: 20px;
      margin-right: 5px;
      color: $white;
      cursor: pointer;
      text-decoration: none;
      transform: none;
      transition: all linear 130ms;

      &:hover {
        transform: translateY(-5px);
      }

      &:last-child {
        margin: 0 !important;
      }

      @media screen and (max-width: map-get($grid-breakpoints, $key: md)) {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .sys-footer-attr {
    background-color: $secondary;
    background-image: linear-gradient(to bottom, $secondary, darken($secondary, 5%));
    display: block;
    padding: 20px 0;
    color: darken($white, 15%);
    border-bottom: solid 4px $primary;
    line-height: 1.6;

    .sys-made-by {
      margin-top: 7px;

      a {
        color: inherit;
        border-bottom: solid 1px;
        text-decoration: none;

        &:hover {
          @if $primary != $secondary {
            color: $primary;
          } @else {
            color: $accent;
          }
        }
      }
    }
  }
}
