.sys-dashboard {
  .sys-cards {
    .card {
      border: solid 1px darken($secondary, 4%);
      position: relative;
      background-color: $secondary;
      background-image: linear-gradient(
        to bottom,
        lighten($secondary, 4%),
        darken($secondary, 3%)
      );
      color: $white;
      text-shadow: 0 2px rgba(230, 230, 230, 0.23);

      .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-footer {
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $white;
          text-decoration: none;

          .fa {
            transition: all 120ms linear;
          }

          &:hover .fa {
            transform: translateX(6px);
          }
        }
      }
    }

    .sys-icon {
      font-size: 4.5rem;
    }

    .sys-info {
      text-align: right;

      .sys-main {
        display: block;
        font-size: 2.9rem;
        letter-spacing: 3px;
        font-weight: 300;
        margin-bottom: 5px;
        line-height: 1;
      }

      .sys-desc {
        font-weight: 400;
        font-size: 90%;
      }
    }

    @media screen and (max-width: map-get($grid-breakpoints, $key: lg)) {
      display: none;
    }
  }

  .sys-widgets-wrapper {
    .sys-widget {
      margin-bottom: 1rem;
    }
  }

  .sys-news {
    .sys-news-body {
      max-height: 250px;
      overflow-y: auto;

      .sys-news-item {
        display: block;
        padding: 10px $card-spacer-x;
        border-bottom: dashed 1px #ddd;
        text-decoration: none;

        &:hover {
          background-color: #ddd;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .sys-profile {
    .card-body {
      text-align: center;
    }

    .sys-user-avatar {
      width: 100px;
      height: 100px;
      display: block;
      border: solid 2px #d0d0d0;
      border-radius: 100px;
      margin: 0 auto;
      overflow: hidden;
      box-shadow: inset -2px -3px rgba(0, 0, 0, 0.05);
    }

    .sys-user-info {
      margin: 1rem 0;
    }

    .sys-user-avatar-inner {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-position-x: center;
      background-position-y: 190px;
      transition: all 120ms linear;

      &:hover {
        background-position-y: 186px;
      }
    }
  }

  .sys-online {
    .card-body {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}
