.sys-last-requests {
  max-height: 375px;
  overflow-y: auto;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 -1.25rem;
    padding: 0.75rem 1.25rem;
    border-bottom: solid 1px #faf8f8;
    position: relative;

    &:first-child {
      margin-top: -1.25rem;
    }

    &:last-child {
      margin-bottom: -1.25rem;
      border-bottom: none;
    }

    &::before {
      content: '';
      border-radius: 0 0.25rem 0.25rem 0;
      width: 3px;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &.--state-PENDING::before {
      background-color: #ffa000;
    }

    &.--state-APPROVED::before {
      background-color: #43a047;
    }

    &.--state-REJECTED::before {
      background-color: #d32f2f;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 16px;
    margin-right: 1rem;
  }
}

.sys-requests {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 0.65rem 1rem;
    border: solid 1px #d0d0d0;
    border-radius: 0.25rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 3px 0 0px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: darken(#fff, 5%);
    }

    &.--focus,
    &:focus {
      background-color: #fff;
      border-color: #99cce6;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(51, 153, 204, 0.25);
    }

    &::before {
      content: '';
      border-radius: 0.25rem 0 0 0.25rem;
      width: 3px;
      height: 80%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &.--state-PENDING::before {
      background-color: #ffa000;
    }

    &.--state-APPROVED::before {
      background-color: #43a047;
    }

    &.--state-REJECTED::before {
      background-color: #d32f2f;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    border-radius: 0.25rem;
    font-size: 18px;
    color: #fff;
  }

  &__details {
    color: #495057;
  }

  &__link {
    @media screen and (max-width: map-get($grid-breakpoints, $key: md)) {
      margin-bottom: 0.65rem;
      display: inline-block;
    }
  }

  &__crh-state {
    margin-left: auto;
    color: #556773;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.05);

    &.--state-PENDING {
      color: #ffa000;
    }

    &.--state-APPROVED {
      color: #43a047;
    }

    &.--state-REJECTED {
      color: #d32f2f;
    }
  }
}
