.sys-user-per-position {
  .sys-upp-position-badges {
    border: solid 1px #ddd !important;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;

    .sys-upp-dot {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 100px;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }
}
