/**
 * ---------------------------------------------------------------------
 * Variables.
 * ---------------------------------------------------------------------
 */

$white:             #fff;
$dark:              darken(#39c, 37%);

$primary:           $dark;
$secondary:         $dark;
$accent:            #39c;

$np-bg:             $secondary;
$np-wt:             3px;
$np-ss:             true;

$enable-shadows:    false;
$enable-gradients:  true;
$trans:             all 125ms ease-in-out;

/**
 * ---------------------------------------------------------------------
 * Bootstrap & NProgress
 * ---------------------------------------------------------------------
 */

@import "./vendor/bootstrap/bootstrap.scss";
@import "./vendor/bootstrap/_jumbotron";
@import "./vendor/nprogress.scss";
@import "./main/extra/reset.scss";
@import "./main/extra/utils.scss";
@import "./main/extra/select.scss";

/**
 * ---------------------------------------------------------------------
 * Imports
 * ---------------------------------------------------------------------
 */

// Layout:
@import "./main/layout/main.scss";
@import "./main/layout/navbar.scss";
@import "./main/layout/menu.scss";
@import "./main/layout/content.scss";
@import "./main/layout/footer.scss";

a {
  &:not(.btn, .no-u) {
    text-decoration: underline;
  }

  &:hover {
    color: #39c;
  }
}

::selection {
  background-color: $secondary;
  color: $white;
}
