<div class="sys-entity-reply text-center">
  <hr class="lg" />
</div>

<form action="/post" method="POST" class="my-3">
  <textarea name="message" id="cked"></textarea>
  <button type="submit" class="btn btn-primary btn-lg">
    <i class="fa fa-share"></i> Responder
  </button>
</form>

{{ script('vendor/ckeditor/ckeditor') }}
<script>CKEDITOR.replace('cked');</script>
