<div class="sys-entity-reply text-center">
  <hr />

  <small class="text-muted d-block mb-3">
    Clique no botão abaixo para responder a este requerimento:
  </small>
  <a
    href="{{ route('requests.reply', { id: entity.id }) }}"
    class="btn btn-primary btn-block"
  >
    <i class="fa fa-share"></i> Responder
  </a>
</div>
