<!DOCTYPE html>
<html lang="pt">
<head>
  @set('meta_theme_color', '#b3212f')
  @include('partials.layout.session.head')
  @!section('styles')
</head>
<body class="sys-error">
  <div class="container sys-error-body">
    @!section('content')
  </div>

  @!section('before-end')
  @!section('scripts')
</body>
</html>
