<!DOCTYPE html>
<html lang="pt-BR">
<head>
  @include('partials.layout.master.head')
  @!section('styles')
</head>
<body>
  <div class="sys-wrapper">
    {{-- Header > Navbar + Banner --}}
    <header class="sys-header">
      @include('partials.layout.master.navbar')
      @include('partials.layout.master.banner')
    </header>

    {{-- Main Content --}}
    <main class="sys-content">
      <div class="sys-content-inner container py-3">

        {{-- Breadcrumb --}}
        @include('partials.layout.master.breadcrumbs')

        {{-- Pre-title --}}
        @!section('pre-title')

        {{-- Flash Messages --}}
        <div class="sys-flash-message-zone">
          @include('partials.utils.flash-message')
        </div>

        <div class="sys-page">
          @if(skip_title != 'true')
            <h1 class="sys-title">
              @!section('title')
            </h1>
          @endif

          @!section('content')
        </div>
      </div>
    </main>

    {{-- Footer --}}
    @include('partials.layout.master.footer')
  </div>


  {{-- Main Menu --}}
  @include('partials.layout.master.menu')


  {{-- EndPage --}}
  @!section('before-end')
  @include('partials.layout.master.scripts')
  @!section('scripts')

  {{-- Notifications Modal --}}
  @include('partials.layout.master.notifications')
</body>
</html>
