<div class="card mt-3">
  <div class="card-header">Licença e Banimento</div>
  <div class="card-body">
    <div class="form-group">
      Opções de licença em breve...
    </div>

    <hr class="fw" />

    <div class="form-group mb-0">
      Opções de banimento em breve...
    </div>
  </div>
</div>
